body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    /* background: linear-gradient(#a2d2ff, #EFB0C9); */
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: #fcb045;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #833ab4;
    margin-bottom: 10px;
}

#bday-age {
    background: #833ab4;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #833ab4;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid #833ab4;
    border-radius: 10px;
    background-image: url("images/giftwrap.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media.giphy.com/media/DhstvI3zZ598Nb1rFf/giphy.gif");
}

#gift-img-hot:hover {
    background-image: url("https://media.giphy.com/media/hZj44bR9FVI3K/giphy.gif");
}

#gift-img-genius:hover {
    background-image: url("https://media.giphy.com/media/l3q2xgywXN35jhZEk/giphy.gif");
}

#gift-img-badass:hover {
    background-image: url("https://media.giphy.com/media/xs7bOB7WyxnnQ9d0CS/giphy.gif");
}

#gift-img-cheers:hover {
    background-image: url("https://media.giphy.com/media/BPJmthQ3YRwD6QqcVD/giphy.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: #fcb045;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/